# other
*.iws

# idea project files
*.iml
.idea

# lib files
dojo

# compiled .js and .map files
#wso/js/baf/*.js
wso/**/*.js
wso/**/*.map
template/**/*.js
template/**/*.map
mvc/**/*.js
mvc/**/*.map
**/*.js
**/*.map