.gridx
    .gridxHeader .gridxBar
        h1
            display inline-block
            font-size: 18px;
            color: #265d98;
            margin-left: 10px;
        .dijitToolbar
            background: none !important;
            border-bottom: none !important;
            text-align: right;
            margin-right: 100px;

